h1{
	 margin-top: 15px;
}


.tamaño{
	font-size: 70px;
	font-family: sans-serif;
}
.App{

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3%;


}


.information {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  
 
  

}

.information input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 3px;
  border: none;

}



 button {

  width: 300px;
  height: 50px;
  margin-top: 15px;
  border: none;
  font-weight: 700;
  border-radius: 3px;
  margin:  10px auto;


} 

button:hover {
  cursor: pointer;
  background-color: blue;
}

